In [13]:
import pandas as pd
import numpy as np

import sqlite3 as sql

con = sql.connect("eComDB.db")
cur = con.cursor()
cur.execute("SELECT * FROM userData")
rows = cur.fetchall()
df = pd.DataFrame(rows, columns=['transactionID', 'userID', 'ItemID'])
df.head()

   transactionID  userID  ItemID
0            119       1     527
1            120       1    1042
2            121       1     833
3            122       1     688
4            123       1     995

In [14]:
cur.execute("SELECT id, title FROM items")
rows = cur.fetchall()
item = pd.DataFrame(rows, columns=['ItemID', 'foodTitle'])
item.head()

   ItemID                   foodTitle
0     471            Ginger Champagne
1     472  Potato and Cheese Frittata
2     473          Eggnog Thumbprints
3     474        Succulent Pork Roast
4     475                 Irish Champ

In [17]:
df_merge = pd.merge(df, item)
df_merge['flag'] = 1
df_merge.head()

,transactionID,userID,ItemID,foodTitle,flag
0,119,1,527,Mushroom Sauce Baked Pork Chops,1
1,120,1,1042,Pecan Chicken Breasts Stuffed with Cream Chees...,1
2,121,1,833,Potato Ham Bake,1
3,122,1,688,Bahamian Style Peas and Rice,1
4,123,1,995,Cranberry Apple Cider,1

In [18]:
userToFood = df_merge.pivot_table(index='userID',columns='foodTitle',values='flag')
userToFood.head(2)

foodTitle,Almond Bars,Bahamian Style Peas and Rice,Bow-Tie Pasta With Red Pepper Sauce,Cheese and Bacon Potato Rounds,Cinnamon Rolls III,Cranberry Apple Cider,Cranberry Gelatin Salad,Golden Au Gratin Potatoes,Mushroom Sauce Baked Pork Chops,Pecan Chicken Breasts Stuffed with Cream Cheese and Broccoli,Potato Ham Bake,Potato Ham Skillet,Shrimp and Catfish Gumbo,Sour Cream Sugar Cookies I,"Summer Pasta with Basil, Tomatoes and Cheese",Three-Cheese Potato Bake,White Bread II
userID,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [20]:
matrix_corr = userToFood.corr(method='pearson',min_periods=100)
matrix_corr.head()

foodTitle,Almond Bars,Bahamian Style Peas and Rice,Bow-Tie Pasta With Red Pepper Sauce,Cheese and Bacon Potato Rounds,Cinnamon Rolls III,Cranberry Apple Cider,Cranberry Gelatin Salad,Golden Au Gratin Potatoes,Mushroom Sauce Baked Pork Chops,Pecan Chicken Breasts Stuffed with Cream Cheese and Broccoli,Potato Ham Bake,Potato Ham Skillet,Shrimp and Catfish Gumbo,Sour Cream Sugar Cookies I,"Summer Pasta with Basil, Tomatoes and Cheese",Three-Cheese Potato Bake,White Bread II
foodTitle,,,,,,,,,,,,,,,,,
Almond Bars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bahamian Style Peas and Rice,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bow-Tie Pasta With Red Pepper Sauce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cheese and Bacon Potato Rounds,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cinnamon Rolls III,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN